body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Container */
.container {
    display: grid;
    grid-template-rows: 8.9vh 80vh 11vh;
    grid-template-areas: "nav"
                        "main"
                        "footer";
}
/* Navigation of the header */

.nav {

}
.google-app {
    background-image: url(/assets/img/google-app.png);
    background-size: 50px 50px;
}